<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C3RTiFY</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <%- include("../includes/navbar.ejs",{user:user})%>
    <div class="main-content">

   
        <%-body -%>
    
 </div>
    <%- include("../includes/footer.ejs")%>

</body>
</html>