<div class="navbar" >
    <h1 class="nav-left"><a href="/" style="text-decoration: none;" class="logo">C3RTiFY</a></h1>
    <div class="nav-right">
    <% if (user) { %>
            <p>Welcome, <%= user.name %>!</p>
            <% if (user.role === 'student' ) { %>
                <h4><a href="/student/dashboard/<%= user.uid %>" class="nav-link" style="text-decoration: none;">Student Dashboard</a></h4>
            <% } else if (user.role === 'institute' || user.email===process.env.instemail) { %>
                <h4><a href="/dashboard" class="nav-link" style="text-decoration: none;">dashboard</a></h4>
                <a href="/issuenew" class="nav-link" style="text-decoration: none;">issuenew</a>
            <% } %>
        <form action="/logout" method="POST">
            <button class="nav-link" type="submit">Logout</button>
        </form>
    <% } else { %>
        <a class="nav-link" href="/signup">Sign-Up</a>&nbsp;
        <a class="nav-link" href="/login">Log-In</a>&nbsp;
    <% } %>
</div>         
</div>
